*, *:before, *:after{
    margin: 0;
    padding: 0;
}

body {
    width: 500%;
    font-size: 16px;
    overflow: hidden;
}

.pagination {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 0;
    padding: 1rem;
}

.pagination a {
    text-decoration: none;
    padding: .5rem;
    color: red;
}

.wrapper {
    height: 100%;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.image {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.hero {
    background: #f2f2f2;
}

.image-3, .image-2 {
    background: #000;
}

.img-2 {
    width: 1000px;
    height: auto;
}

.slide[id="one"]:target ~ .wrapper .image {
    transform: translateX(0);
}

.slide[id="two"]:target ~ .wrapper .image {
    transform: translateX(-100%);
}

.slide[id="three"]:target ~ .wrapper .image {
    transform: translateX(-200%);
}

.slide[id="four"]:target ~ .wrapper .image {
    transform: translateX(-300%);
}

.slide[id="five"]:target ~ .wrapper .image {
    transform: translateX(-400%);
}

.slide[id="one"]:target ~ .pagination .page-one, 
.slide[id="two"]:target ~ .pagination .page-two, 
.slide[id="three"]:target ~ .pagination .page-three,  
.slide[id="four"]:target ~ .pagination .page-four, 
.slide[id="five"]:target ~ .pagination .page-five {
    color: orange;
}